/* RESPONSIVE */
@media (max-width: 1100px) {
  #visi-misi {
    flex-direction: column;
    padding: 20px;
    gap: 20px;
  }

  #visi-misi .content-visi-misi {
    width: 100%;
  }

  #structure .cards-container {
    padding: 0 20px;
  }

  #structure .structure-box {
    padding: 20px;
  }

  #maps .maps-container {
    margin: 20px;
    padding: 20px;
  }
}
@media (max-width: 750px) {
  #about {
    flex-direction: column;
    padding: 0 20px;
  }

  #about .description,
  #about .description-box {
    width: 100%;
  }

  #about h5 {
    font-size: 24px;
  }

  #about p {
    font-size: 13px;
    text-align: justify;
  }

  #about .box {
    gap: 20px;
  }
}

@media (max-width: 650px) {
  .hero-content h4 {
    font-size: 12px;
  }

  .hero-content h3 {
    font-size: 32px;
  }

  #stats .content .d-flex {
    flex-direction: column;
    gap: 20px;
  }

  #visi-misi .title-container img {
    width: 28px;
  }

  #visi-misi .visi-title,
  #visi-misi .misi-title {
    font-size: 24px;
  }

  #visi-misi .visi-content,
  #visi-misi .misi-content {
    font-size: 12px;
  }

  #visi-misi ol {
    padding: 0 15px;
    margin: 0;
  }

  #visi-misi .title-container {
    margin-bottom: 5px;
  }
}

@media (max-width: 500px) {
  .title::before,
  .title::after {
    display: none;
  }
}
